// Ugly hack. The main site fe-lang.org uses tailwind and I just copied computed styles and targeted
// the relevant elements to apply whatever was computed.

header {

  .nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    color: #000;
    height: 50px;
    padding: 1em;
  }

  .menu {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  .menu>li {
    margin: 0 1rem;
    overflow: hidden;
  }

  .menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle {
    display: none;
  }

  .menu-button,
  .menu-button::before,
  .menu-button::after {
    display: block;
    background-color: #000;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
  }

  .menu-button::before {
    content: '';
    margin-top: -8px;
  }

  .menu-button::after {
    content: '';
    margin-top: 8px;
  }

  #menu-toggle:checked+.menu-button-container .menu-button::before {
    margin-top: 0px;
    transform: rotate(405deg);
  }

  #menu-toggle:checked+.menu-button-container .menu-button {
    background: rgba(255, 255, 255, 0);
  }

  #menu-toggle:checked+.menu-button-container .menu-button::after {
    margin-top: 0px;
    transform: rotate(-405deg);
  }

  img {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    color: var(--text-0);
    font-size: 18px;
    --text-0: rgba(0, 0, 0, 87%);
    --text-1: rgba(0, 0, 0, 66%);
    --bg-0: #fff;
    --bg-1: #f2f2f2;
    --primary-color: #ef5350;
    --hover-color: white;
    --border-color: var(--bg-1);
    --text-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --header-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --code-font: 'Jetbrains Mono';
    font-family: inherit;
    line-height: inherit;
    word-wrap: break-word;
    box-sizing: border-box;
    border-width: 0;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    border-style: solid;
    display: block;
    vertical-align: middle;
    max-width: 100%;
    height: 3rem;
  }

  .a-non-active {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    --text-0: rgba(0, 0, 0, 87%);
    --text-1: rgba(0, 0, 0, 66%);
    --bg-0: #fff;
    --bg-1: #f2f2f2;
    --primary-color: #ef5350;
    --hover-color: white;
    --border-color: var(--bg-1);
    --text-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --header-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --code-font: 'Jetbrains Mono';
    font-family: inherit;
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    color: inherit;
    text-decoration: none;
    display: block;
    border-radius: .125rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0;
    margin-left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border-bottom: none;
    width: 100%;
  }

  .a-active {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    --text-0: rgba(0, 0, 0, 87%);
    --text-1: rgba(0, 0, 0, 66%);
    --bg-0: #fff;
    --bg-1: #f2f2f2;
    --primary-color: #ef5350;
    --hover-color: white;
    --border-color: var(--bg-1);
    --text-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --header-font: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --code-font: 'Jetbrains Mono';
    font-family: inherit;
    word-wrap: break-word;
    text-align: center;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229, 231, 235, var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    border-bottom: 3px solid var(--primary-color);
    color: inherit;
    text-decoration: none;
    display: block;
    border-radius: .125rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
    transition-duration: .1s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    margin-top: 0;
    margin-left: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
  }

  a:hover {
    --tw-text-opacity: 1;
    color: #fff;
    background-color: rgb(55, 65, 81);
  }

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 100px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #000;
    background-color: #fff;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }

  #menu-toggle:checked~.menu li:hover {
    cursor: pointer;
  }
}
}
