
// Ugly hack. The main site fe-lang.org uses tailwind and I just copied computed styles and targeted
// the relevant elements to apply whatever was computed.

header {

  .no-border {
    border: none;
  }

  .div-one {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    color: var(--text-0);
    font-size: 18px;
    --text-0: rgba(0, 0, 0, 87%);
    --text-1: rgba(0, 0, 0, 66%);
    --bg-0: #fff;
    --bg-1: #f2f2f2;
    --primary-color: #ef5350;
    --hover-color: white;
    --border-color: var(--bg-1);
    --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    --code-font: 'Jetbrains Mono';
    font-family: inherit;
    line-height: inherit;
    word-wrap: break-word;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    position: relative;
    z-index: 10;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    max-width: 1280px;

    #menu {
      tab-size: 4;
      -webkit-text-size-adjust: 100%;
      color: var(--text-0);
      font-size: 18px;
      --text-0: rgba(0, 0, 0, 87%);
      --text-1: rgba(0, 0, 0, 66%);
      --bg-0: #fff;
      --bg-1: #f2f2f2;
      --primary-color: #ef5350;
      --hover-color: white;
      --border-color: var(--bg-1);
      --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
      --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
      --code-font: 'Jetbrains Mono';
      font-family: inherit;
      line-height: inherit;
      word-wrap: break-word;
      box-sizing: border-box;
      border-width: 0;
      border-style: solid;
      --tw-border-opacity: 1;
      border-color: rgba(229,231,235,var(--tw-border-opacity));
      --tw-shadow: 0 0 #0000;
      --tw-ring-inset: var(--tw-empty, );
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgba(59, 130, 246, 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      display: flex;
      padding: 0;
      text-align: left;

      .a-non-active {
        tab-size: 4;
        -webkit-text-size-adjust: 100%;
        --text-0: rgba(0, 0, 0, 87%);
        --text-1: rgba(0, 0, 0, 66%);
        --bg-0: #fff;
        --bg-1: #f2f2f2;
        --primary-color: #ef5350;
        --hover-color: white;
        --border-color: var(--bg-1);
        --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
        --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
        --code-font: 'Jetbrains Mono';
        font-family: inherit;
        word-wrap: break-word;
        text-align: left;
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgba(229,231,235,var(--tw-border-opacity));
        --tw-shadow: 0 0 #0000;
        --tw-ring-inset: var(--tw-empty, );
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        color: inherit;
        text-decoration: none;
        display: block;
        border-radius: .125rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(0.4,0,0.2,1);
        margin-top: 0;
        margin-left: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
        border-bottom: none;
      }

      .a-active {
        tab-size: 4;
        -webkit-text-size-adjust: 100%;
        --text-0: rgba(0, 0, 0, 87%);
        --text-1: rgba(0, 0, 0, 66%);
        --bg-0: #fff;
        --bg-1: #f2f2f2;
        --primary-color: #ef5350;
        --hover-color: white;
        --border-color: var(--bg-1);
        --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
        --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
        --code-font: 'Jetbrains Mono';
        font-family: inherit;
        word-wrap: break-word;
        text-align: left;
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        --tw-border-opacity: 1;
        border-color: rgba(229,231,235,var(--tw-border-opacity));
        --tw-shadow: 0 0 #0000;
        --tw-ring-inset: var(--tw-empty, );
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgba(59, 130, 246, 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        border-bottom: 3px solid var(--primary-color);
        color: inherit;
        text-decoration: none;
        display: block;
        border-radius: .125rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
        font-size: 1.125rem;
        line-height: 1.75rem;
        transition-property: background-color,border-color,color,fill,stroke,opacity,box-shadow,transform,filter,backdrop-filter,-webkit-backdrop-filter;
        transition-duration: .1s;
        transition-timing-function: cubic-bezier(0.4,0,0.2,1);
        margin-top: 0;
        margin-left: .5rem;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      a:hover {
        --tw-text-opacity: 1;
        color: #fff;
        background-color: rgb(55, 65, 81);
      }
    }
  }


  .div-one-child {
    tab-size: 4;
    -webkit-text-size-adjust: 100%;
    color: var(--text-0);
    font-size: 18px;
    --text-0: rgba(0, 0, 0, 87%);
    --text-1: rgba(0, 0, 0, 66%);
    --bg-0: #fff;
    --bg-1: #f2f2f2;
    --primary-color: #ef5350;
    --hover-color: white;
    --border-color: var(--bg-1);
    --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
    --code-font: 'Jetbrains Mono';
    font-family: inherit;
    line-height: inherit;
    word-wrap: break-word;
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    --tw-border-opacity: 1;
    border-color: rgba(229,231,235,var(--tw-border-opacity));
    --tw-shadow: 0 0 #0000;
    --tw-ring-inset: var(--tw-empty, );
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59, 130, 246, 0.5);
    --tw-ring-offset-shadow: 0 0 #0000;
    --tw-ring-shadow: 0 0 #0000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;


    img {
      tab-size: 4;
      -webkit-text-size-adjust: 100%;
      color: var(--text-0);
      font-size: 18px;
      --text-0: rgba(0, 0, 0, 87%);
      --text-1: rgba(0, 0, 0, 66%);
      --bg-0: #fff;
      --bg-1: #f2f2f2;
      --primary-color: #ef5350;
      --hover-color: white;
      --border-color: var(--bg-1);
      --text-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
      --header-font: system-ui,-apple-system,'Segoe UI',Roboto,Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji';
      --code-font: 'Jetbrains Mono';
      font-family: inherit;
      line-height: inherit;
      word-wrap: break-word;
      box-sizing: border-box;
      border-width: 0;
      --tw-border-opacity: 1;
      border-color: rgba(229,231,235,var(--tw-border-opacity));
      --tw-shadow: 0 0 #0000;
      --tw-ring-inset: var(--tw-empty, );
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-color: rgba(59, 130, 246, 0.5);
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-ring-shadow: 0 0 #0000;
      border-style: solid;
      display: block;
      vertical-align: middle;
      max-width: 100%;
      height: 3rem;
    }
  }
}