<header>
    <div class="main">
        <a href={{ config.base_url }}>{{ config.title }}</a>
    </div>

    <div class="div-one">
        <div class="div-one-child">
            <img src="{{ config.base_url }}/fe-logo-small.svg" alt="Fe Programming Language">
        </div>
        <nav id="menu">
          <a href="https://fe-lang.org/docs/quickstart/index.html" class="a-non-active" title="Get started">Get started</a>
          <a href="https://fe-lang.org/docs/index.html" class="a-non-active" title="Learn">Learn</a>
          <a href="https://discord.gg/ywpkAXFjZH" class="a-non-active" title="Community">Community</a>
          <a href="{{ config.base_url }}" class="a-active" title="Blog">Blog</a>
        </nav>
      </div>
</header>